name: Daily post
on:
  schedule:
    # run daily at 7:30 UTC
    - cron:  '30 7 * * *'
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - edited
      - synchronize
jobs:
  post:
    runs-on: ubuntu-latest
    secrets:
      MASTO_ACCESS_TOKEN: ${{ secrets.MASTO_ACCESS_TOKEN }}

    steps:
      - uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.19.x'
      - name: Install dependencies
        run: go get .
      - name: post to mastodon
        run: go run main.go
      
